@{
    ViewBag.Title = "Home Page";
}
<!--Home Page Title & Brief Description-->
<div class="jumbotron">
    <h1>BEST TECH REVIEW</h1>
    <p class="lead">BEST TECH REVIEW is a leading website reviewing and influencing today's Top Drones, Gaming Consoles & Sport Cars.</p>
    <p><a href="#" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>
<!--Drone Section & Image-->
<div class="row" id="1">
    <div class="col-md-12">
        <div class="container">
            <h2>Drones</h2>
            <img src="@Url.Content("~/Content/Images/EHang-Ghost.jpg")" />
            <p><a class="btn btn-default" href="#">Read Drone Reviews &raquo;</a></p>
        </div>
    </div>
</div>
<!--Gaming Console Section & Image-->
<div class="row" id="2">
    <div class="col-md-12">
        <div class="container">
            <h2>Gaming Consoles</h2>
            <img src="@Url.Content("~/Content/Images/PS4.jpg")" />
            <p><a class="btn btn-default" href="#">Read Console Reviews &raquo;</a></p>
        </div>
    </div>
</div>
<!--Sport Car Section & Image-->
<div class="row" id="3">
        <div class="col-md-12">
            <div class="container">
                <h2>Sport Cars</h2>
                <img src="@Url.Content("~/Content/Images/BMW-i8.jpg")" />
                <p><a class="btn btn-default" href="#">Read Sport Car Reviews &raquo;</a></p>
            </div>
        </div>
    </div>